#cover-section {
  text-align: left;
}

#cover-section p:first-of-type {
  color: Violet;
  font-size: 28px;
}

#quote {
  text-align: center;
}

#quote > blockquote {
  font-size: 20px;
  font-weight: bold;
}

#quote > footer {
  font-size: 14px;
  text-align: right;
}

#class-container {
  align-items: center;
  justify-content: space-evenly;
}

.class-cards {
  position: relative;
  background-color: #1B1B1B;
  margin: 15px;
  height: 200px;
  width: 150px;
}

.class-cards > p {
  color: darkgray;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%; /* width will be 50% of the parent */
  height: 50%; /* height will be 50% of the parent */
}

.class-cards > p:hover {
  opacity: 1;
}