/* Global Rules */

.flex-container {
  display: flex;
}

.hidden {
  display: none;
}

/* Global Presets */

body {
  margin: 0;
  padding: 0;
  background-color: azure;
  color: black;
  font-family: "Raleway", sans-serif;
  line-height: 200%;
}

main {
  width: 80%;
  margin: auto;
}

img {
  max-width: 80%;
}

/* navagation bar */

body > header {
  padding: 0.5rem 0;
}

body header a {
  all:unset;
  cursor: pointer;
  font-size: 1.5rem;
}

header, nav {
  position: sticky;
}

#logo {
  background-color: black;
  color: white;
  text-align: center;
}

#menu {
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2em;
  margin-block: 0;
  background-color: #1B1B1B;
  color: white;
}

#menu li {
  display: inline-block
}

#menu > li > a{
  all:unset;
  cursor: pointer;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(90%);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.dropdown-menu:hover, .dropdown > p:hover + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

.dropdown > p:hover {
  color: darkgrey;
}

/* main */

body > footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}

footer > p {
  margin-block: 0;
  padding: 1rem;
}

/* main */

h1 {
  color: Violet;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: DeepSkyBlue;
  font-size: 28px;
  font-weight: bold;
}